.wrapper {
	max-width: 33vw;
	width: 400px;
	position: sticky;
	height: max-content;
	top: 0;
	margin: 0 2rem;
}

.list {
	margin-right: 6rem;
}

.detail {
	display: grid;
	grid-template-columns: 30px 1fr 40px;
	text-align: left;
}

@media (max-width: 30em) {
	.wrapper {
		display: none;
	}
}
